# virtual environment
bin/*
etc/*
lib/*
pyvenv.cfg
share/*

# Python package
dist/snippyts*
src/snippyts.egg-info/*

# Python cache
src/snippyts/__pycache__/*
tests/__pycache__/*

# MacOS system files
.DS_Store

# Documentation (local)
doc/DEV.txt
